<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AntTweakBar.NET.Standalone" version="0.6.0" targetFramework="net452" />
  <package id="BulletSharp" version="0.9" targetFramework="net452" />
  <package id="NVorbis" version="0.8.4.0" targetFramework="net452" />
  <package id="OpenTK" version="2.0.0" targetFramework="net452" />
</packages>